<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DetailsController</servlet-name>
        <servlet-class>Controller.DetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoController</servlet-name>
        <servlet-class>Controller.InfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailsController</servlet-name>
        <url-pattern>/DetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoController</servlet-name>
        <url-pattern>/InfoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
